@media only screen and (width: 1366px - 877px) {
    .menu-wrapper {
        padding-top: calc(23px + (33 - 23) * ((100vw - 877px) / (1366 - 877)));
        padding-right: calc(21px + (51 - 21) * ((100vw - 877px) / (1366 - 877)));
        padding-left: calc(24px + (54 - 24) * ((100vw - 877px) / (1366 - 877)));
    }
    .header-menu {
        margin-bottom: calc(30px + (74 - 30) * ((100vw - 877px) / (1366 - 877)));
    }
    .menu-text h2 {
        margin-bottom: calc(19px + (59 - 19) * ((100vw - 877px) / (1366 - 877)));
    }
    .one-title, .two-title, .three-title {
        font-size: calc(30px + (40 - 30) * ((100vw - 877px) / (1366 - 877)));
    }
    .menu-text p {
        font-size: calc(16px + (18 - 16) * ((100vw - 877px) / (1366 - 877)));
    }
    .menu-text p:nth-last-child(2) {
        margin-bottom: calc(15px + (33 - 15) * ((100vw - 877px) / (1366 - 877)));
    }
    .skills-wrapper {
        padding-top: calc(40px + (70 - 40) * ((100vw - 877px) / (1366 - 877)));
        padding-right: calc(50px + (90 - 50) * ((100vw - 877px) / (1366 - 877)));
        padding-left: calc(29px + (59 - 29) * ((100vw - 877px) / (1366 - 877)));
    }
    .skills_item {
        margin-bottom: calc(35px + (86 - 35) * ((100vw - 877px) / (1366 - 877)));
    }
    .skills_item h2, .start-wrapper h2, .dummy-wrapper h2 {
        margin-bottom: calc(25px + (37 - 25) * ((100vw - 877px) / (1366 - 877)));
    }
    .one-skills-title, .two-skills-title, .one-start-title, .two-start-title, .one-title-dummy, .two-title-dummy {
        font-size: calc(33px + (45 - 33) * ((100vw - 877px) / (1366 - 877)));
    }
    .start-wrapper, .dummy-wrapper {
        padding-top: calc(40px + (70 - 40) * ((100vw - 877px) / (1366 - 877)));
        padding-right: calc(103px + (163 - 103) * ((100vw - 877px) / (1366 - 877)));
        padding-bottom: calc(41px + (71 - 43) * ((100vw - 877px) / (1366 - 877)));
        padding-left: calc(24px + (54 - 24) * ((100vw - 877px) / (1366 - 877)));
    }
    .button {
        padding-top: calc(2px + (8 - 2) * ((100vw - 877px) / (1366 - 877)));
        padding-right: calc(10px + (39 - 10) * ((100vw - 877px) / (1366 - 877)));
        padding-bottom: calc(2px + (8 - 2) * ((100vw - 877px) / (1366 - 877)));
        padding-left: calc(10px + (39 - 10) * ((100vw - 877px) / (1366 - 877)));
    }
    .copyright-wrapper {
        padding-top: calc(44px + (74 - 44) * ((100vw - 877px) / (1366 - 877)));
        padding-right: calc(37px + (67 - 37) * ((100vw - 877px) / (1366 - 877)));
        padding-bottom: calc(32px + (72 - 32) * ((100vw - 877px) / (1366 - 877)));
        padding-left: calc(28px + (48 - 28) * ((100vw - 877px) / (1366 - 877)));
    }
    .copyright-title-one, .copyright-title-two {
        font-size: calc(30px + (45 - 30) * ((100vw - 877px) / (1366 - 877)));
    }
    .copyright-title {
        margin-bottom: calc(150px + (257 - 150) * ((100vw - 877px) / (1366 - 877)));
    }
    .name {
        font-size: calc(28px + (42 - 28) * ((100vw - 877px) / (1366 - 877)));
    }
    .message-wrapper {
        padding-top: calc(44px + (74 - 44) * ((100vw - 877px) / (1366 - 877)));
        padding-right: calc(47px + (237 - 47) * ((100vw - 877px) / (1366 - 877)));
        padding-bottom: calc(1px + (72 - 1) * ((100vw - 877px) / (1366 - 877)));
        padding-left: calc(34px + (54 - 34) * ((100vw - 877px) / (1366 - 877)));
    }
    .message-wrapper h2 {
        margin-bottom: calc(20px + (50 - 20) * ((100vw - 877px) / (1366 - 877)));
    }
    form {
        margin-bottom: calc(15px + (95 - 15) * ((100vw - 877px) / (1366 - 877)));
    }
    form input, textarea {
        padding-top: calc(1px + (19 - 1) * ((100vw - 877px) / (1366 - 877)));
        padding-bottom: calc(1px + (22 - 1) * ((100vw - 877px) / (1366 - 877)));
        padding-left: calc(18px + (27 - 18) * ((100vw - 877px) / (1366 - 877)));
    }
    textarea {
        height: calc(120px + (159 - 120) * ((100vw - 877px) / (1366 - 877)));
    }
    .submit-button input {
        width: calc(100px + (150 - 100) * ((100vw - 877px) / (1366 - 877)));
        padding-top: calc(2px + (10 - 2) * ((100vw - 877px) / (1366 - 877)));
    }
    .socials {
        margin-bottom: calc(10px + (49 - 10) * ((100vw - 877px) / (1366 - 877)));
    }
}
@media only screen and (max-width: 877px) {
    .wrapper{
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
        "headerbg headerbg headerbg headerbg"
        "skills skills menu menu"
        "skills skills start start"
        "copyright dummy dummy dummy"
        "message message message message"
        ;
}
.message-wrapper {
    padding-right: 200px;
}
}
@media only screen and (max-width: 768px) {
    .wrapper{
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-areas:
            "headerbg headerbg headerbg headerbg"
            "menu menu menu menu"
            "skills skills skills skills"
            "start start start start"
            "dummy dummy dummy dummy"
            "copyright copyright copyright copyright"
            "message message message message"
            ;
    }
.menu-wrapper {
        padding-bottom: 30px;
}
h2 br {
    display: none;
}
.one-title, .two-title {
    margin-right: 7px;
}
form {
    margin-bottom: 70px;
}
}
@media only screen and (max-width: 767px) {
    .menu-wrapper {
        /* padding: 20px 21px 0 24px; */
        padding-top: calc(20px + (33 - 20) * ((100vw - 320px) / (767 - 320)));
        padding-right: calc(21px + (51 - 21) * ((100vw - 320px) / (767 - 320)));
        padding-left: calc(24px + (54 - 24) * ((100vw - 320px) / (767 - 320)));
    }
    .header-menu {
        margin-bottom: calc(30px + (74 - 30) * ((100vw - 320px) / (767 - 320)));
    }
    .menu-text h2 {
        /* margin-bottom: 59px; */
        margin-bottom: calc(30px + (59 - 30) * ((100vw - 320px) / (767 - 320)));
    }
    .menu-text h2 br {
        display: block;
    }
    .one-title, .two-title, .three-title {
        font-size: calc(25px + (45 - 25) * ((100vw - 320px) / (767 - 320)));
    }
    .menu-text p { 
        font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (767 - 320)));
    }
    .menu-text p:nth-last-child(2) {
        margin-bottom: calc(25px + (33 - 25) * ((100vw - 320px) / (767 - 320)));
    }
    .skills-wrapper {
        /* padding: 30px 25px 27px 19px; */
        padding-top: calc(30px + (70 - 30) * ((100vw - 320px) / (767 - 320)));
        padding-right: calc(25px + (90 - 25) * ((100vw - 320px) / (767 - 320)));
        padding-bottom: calc(25px + (67 - 25) * ((100vw - 320px) / (767 - 320)));
        padding-left: calc(19px + (59 - 19) * ((100vw - 320px) / (767 - 320)));
    }
    .skills_item {
        margin-bottom: calc(45px + (86 - 45) * ((100vw - 320px) / (767 - 320)));
    }
    .one-skills-title, .two-skills-title, .one-start-title, .two-start-title, .one-title-dummy, .two-title-dummy, .copyright-title-one, .copyright-title-two, .message-title-one, .message-title-two {
        font-size: calc(28px + (45 - 30) * ((100vw - 320px) / (767 - 320)));
        margin-right: 3px;
    }
    .skills_item h2, .start-wrapper h2, .dummy-wrapper h2, .message-wrapper h2 {
        margin-bottom: calc(20px + (37 - 20) * ((100vw - 320px) / (767 - 320)));
    }
    .skills_item p, .start-wrapper p, .dummy-wrapper p {
        font-size: calc(14px + (15.6 - 14) * ((100vw - 320px) / (767 - 320)));
}
    .start-wrapper, .dummy-wrapper{
        /* 63px 31px 24px */
        padding-top: calc(30px + (70 - 30) * ((100vw - 320px) / (767 - 320)));
        padding-right: calc(30px + (163 - 30) * ((100vw - 320px) / (767 - 320)));
        padding-bottom: calc(31px + (71 - 31) * ((100vw - 320px) / (767 - 320)));
        padding-left: calc(24px + (54 - 24) * ((100vw - 320px) / (767 - 320)));
    }
    .start-wrapper p, .dummy-wrapper p {
        margin-bottom: calc(25px + (55 - 25) * ((100vw - 320px) / (767 - 320)));
    }
    .button {
        padding-top: calc(2px + (8 - 2) * ((100vw - 320px) / (767 - 320)));
        padding-bottom: calc(2px + (8 - 2) * ((100vw - 320px) / (767 - 320)));
        padding-right: calc(19px + (39 - 19) * ((100vw - 320px) / (767 - 320)));
        padding-left: calc(19px + (39 - 19) * ((100vw - 320px) / (767 - 320)));
    }
    .button a, .specialty, .contacts p {
        font-size: calc(14px + (16.6 - 14) * ((100vw - 320px) / (767 - 320)));
    }
    .copyright-wrapper {
         /* padding: 34px 27px 22px 18px; */
         padding-top: calc(34px + (74 - 34) * ((100vw - 320px) / (767 - 320)));
         padding-right: calc(27px + (67 - 27) * ((100vw - 320px) / (767 - 320)));
         padding-bottom: calc(22px + (72 - 22) * ((100vw - 320px) / (767 - 320)));
         padding-left: calc(18px + (48 - 18) * ((100vw - 320px) / (767 - 320)));
    }
    .copyright-title {
        /* margin-bottom: 90px; */
        margin-bottom: calc(125px + (257 - 125) * ((100vw - 320px) / (767 - 320)));
    }
    .name {
        font-size: calc(25px + (42 - 25) * ((100vw - 320px) / (767 - 320)));
    }
    .message-wrapper {
        /* padding: 74px 237px 72px 54px; */
        padding-top: calc(24px + (74 - 24) * ((100vw - 320px) / (767 - 320)));
        padding-right: calc(25px + (200 - 25) * ((100vw - 320px) / (767 - 320)));
        padding-bottom: calc(22px + (72 - 22) * ((100vw - 320px) / (767 - 320)));
        padding-left: calc(24px + (54 - 24) * ((100vw - 320px) / (767 - 320)));
    }
    .form-row {
        display: block;
    }
    form input, textarea {
        padding-top: calc(2px + (19 - 2) * ((100vw - 320px) / (767 - 320)));
        padding-bottom: calc(2px + (19 - 2) * ((100vw - 320px) / (767 - 320)));
        padding-left: calc(17px + (27 - 17) * ((100vw - 320px) / (767 - 320)));
    }
    .your-name input {
        margin-bottom: 15px;
    }
    .your-name, .your-email {
        width: 100%;
    }
    .submit-button input {
        padding: 0;
    }
    .socials {
        margin-bottom: calc(29px + (49 - 29) * ((100vw - 320px) / (767 - 320)));
    }
}