/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;overflow-x: hidden;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
@font-face {
    font-family: 'Roboto-Black';
    src: url('./fonts/Roboto-Black/Roboto-Black.woff2') format('woff2'),
         url('./fonts/Roboto-Black/Roboto-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Roboto-Bold';
    src: url('./fonts/Roboto-Bold/Roboto-Bold.woff2') format('woff2'),
         url('./fonts/Roboto-Bold/Roboto-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Roboto-Light';
    src: url('./fonts/Roboto-Light/Roboto-Light.woff2') format('woff2'),
         url('./fonts/Roboto-Light/Roboto-Light.woff') format('woff');    
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Roboto-Regular';
    src: url('./fonts/Roboto-Regular/Roboto-Regular.woff2') format('woff2'),
         url('./fonts/Roboto-Regular/Roboto-Regular.woff') format('woff');      
    font-weight: normal;
    font-style: normal;
  }  

  .wrapper {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 
        "headerbg headerbg headerbg menu"
        "skills skills start start"
        "skills skills dummy dummy"
        "copyright message message message";
    -ms-grid-columns: 33.528551% 11.420205% 21.522694% 33.528551%;
    grid-template-columns: 33.528551% 11.420205% 21.522694% 33.528551%; /* 458px/1366 */
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
}
.header-bg {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: headerbg;
}
.header-bg img{
    width: 100%;
    height: auto;
}
.menu {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: menu;
    background-color: #f3f3f3;
}
.menu-wrapper {
    padding: 33px 51px 0 54px;
}
.header-menu {
  position: relative;
  z-index: 99;
    margin-bottom: 74px;
}
.menuToggle{  
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    display: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
    }
    .menuToggle{
        display: block;
    }
    .header-menu ul{
        width: 100%;
      top: 10%;
      right: 0;
        display: none;
        position: absolute;
        background: #2a3b40;
        padding-left: 10px;
        padding-top: 50px;
        padding-bottom: 34px;
    }
    .header-menu ul li{
        display: block;
        cursor: pointer;
        transition: 1.5s;
        -webkit-transition: 1.5s;
        -moz-transition: 1.5s;
        -ms-transition: 1.5s;
        -o-transition: 1.5s;
}
    .header-menu ul li:hover {
      transform: translateX(60px);
      -webkit-transform: translateX(60px);
      -moz-transform: translateX(60px);
      -ms-transform: translateX(60px);
      -o-transform: translateX(60px);
      text-shadow: 1px 1px 1px rgb(255, 255, 255);
}
    .header-menu ul li a {
      font-family: 'Roboto-Light';
      font-size: 30px;
      font-weight: 300;
      line-height: 1.47;
      letter-spacing: 1.35px;
      color: #ffffff;
    }
    .icon {
    position: relative;
    right: 0;
    z-index: 100;
    width: 25px;
    height: 25px;
    cursor: pointer;
    }

    .icon.active {
      top: 30px;
    }
    
    .hamburger {
    width: 33px;
    height: 3px;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: #262f32;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    display: inline-block;
    margin-left: 12px;
    }
    
    .hamburger:before,
    .hamburger:after {
    content: "";
    width: 33px;
    height: 3px;
    position: absolute;
    background: #262f32;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    }
    
    .hamburger:before {
    top: -10px;
    }
    
    .hamburger:after {
    top: 10px;
    }
    
    .icon.active .hamburger {
    background: rgba(255, 255, 255, 0);
    width: 20px;
    }
    .icon.active .hamburger:before {
    top: 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            background-color: white;
            width: 20px;
    }
    
    .icon.active .hamburger:after {
      width: 20px;
    top: 0;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
            background-color: white;
    }

.menu-text h2 {
    margin-bottom: 59px;
}
.menu-text p {
    font-family: 'Roboto-Regular';
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: 0.54px;
  text-align: left;
  color: #262f32;
}
.one-title{
  font-family: 'Roboto-Light';
  font-size: 40px;
  line-height: 1.3;
  letter-spacing: 1.2px;
  color: #262f32;
}
.two-title {
    font-family: 'Roboto-Bold';
    font-weight: bold;
    font-size: 40px;
  line-height: 1.3;
  letter-spacing: 1.2px;
  color: #262f32;
}
.three-title {
    font-family: 'Roboto-Regular';
    font-size: 40px;
  line-height: 1.3;
  letter-spacing: 1.2px;
  color: #262f32;
}
.menu-text p {
    font-family: 'Roboto-Regular';
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: 0.54px;
  text-align: left;
  color: #262f32;
}
.menu-text p:nth-last-child(2) {
    margin-bottom: 33px;
}
.skills {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    position: relative;
    grid-area: skills;
    background: url(./img/skills-bg.jpg) center / cover no-repeat;
}
.skills-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 146, 175, 0.75);
}
.skills-wrapper {
    position: relative;
    padding: 70px 90px 67px 59px;
}
.skills_item {
    margin-bottom: 86px;
}
.skills_item:nth-last-child(1) {
    margin-bottom: 0;
}
.skills_item h2 {
    margin-bottom: 37px;
}
.one-skills-title {
  font-family: 'Roboto-Light';
  font-size: 45px;
  font-weight: 300;
  line-height: 1.47;
  letter-spacing: 1.35px;
  color: #ffffff;
  margin-right: 12px;
}
.two-skills-title {
    font-family: 'Roboto-Black';
  font-size: 45px;
  font-weight: 900;
  line-height: 1.47;
  letter-spacing: 1.35px;
  color: #ffffff;
}
.skills_item p {
  font-family: 'Roboto-Regular';
  font-size: 15.6px;
  line-height: 1.8;
  letter-spacing: 0.47px;
  color: rgba(255, 255, 255, 0.88);
}
.start {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: start;
    position: relative;
    background: url(./img/best_starting-bg.jpg) center / cover no-repeat;
}
.start-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 244, 210, 0.91);
}
.start-wrapper {
    position: relative;
    padding: 70px 163px 71px 54px;
}
.start-wrapper h2 {
    margin-bottom: 37px;
}
.one-start-title {
  font-family: 'Roboto-Light';
  font-size: 45px;
  font-weight: 300;
  line-height: 1.47;
  letter-spacing: 1.35px;
  color: #262f32;
  margin-right: 10px;
}
.two-start-title {
    font-family: 'Roboto-Black';
  font-size: 45px;
  font-weight: 900;
  line-height: 1.47;
  letter-spacing: 1.35px;
  color: #262f32;
}
.start-wrapper p {
    font-family: 'Roboto-Regular';
    font-size: 15.6px;
    line-height: 1.8;
    letter-spacing: 0.47px;
    color: rgba(38, 47, 50, 0.88);
    margin-bottom: 55px;
  }
.button {
        display: inline-block;
        border-radius: 11px;
        padding: 8px 39px;
        cursor: pointer;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
}
.button.black:hover {
  padding: 5px 30px;
  background-color:rgba(255, 244, 210, 0.8);
  -webkit-box-shadow: 0 0 10px rgba(125, 126, 126, 0.88);
          box-shadow: 0 0 10px rgba(125, 126, 126, 0.88);
}
.button.white:hover {
  padding: 5px 30px;
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.88);
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.88);
}
.button a {
  font-family: 'Roboto-Regular';
  font-size: 16.6px;
  line-height: 1.93;
  letter-spacing: 0.5px;
  text-align: center;
  color: #262f32;
}
.black {
    border: 1px solid rgb(38, 47, 50);
}
.dummy {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: dummy;
    position: relative;
    background: url(./img/dummy-bg.jpg) center / cover no-repeat;
}
.dummy-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 38, 51, 0.75);
}
.dummy-wrapper {
    position: relative;
    padding: 70px 163px 71px 54px;
}
.dummy-wrapper h2 {
    margin-bottom: 37px;
}
.one-title-dummy {
    font-family: 'Roboto-Light';
  font-size: 45px;
  font-weight: 300;
  line-height: 1.47;
  letter-spacing: 1.35px;
  color: white;
  margin-right: 10px;
}
.two-title-dummy {
    font-family: 'Roboto-Black';
  font-size: 45px;
  font-weight: 900;
  line-height: 1.47;
  letter-spacing: 1.35px;
  color: white;
}
.dummy-wrapper p {
  font-family: 'Roboto-Regular';
  font-size: 15.6px;
  line-height: 1.8;
  letter-spacing: 0.47px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 55px;
}
.white {
    border: 1px solid white;
}
.white a {
  color: #ffffff;
}
.copyright {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: copyright;
    position: relative;
    background: url(./img/designed-bg.jpg) center / cover no-repeat;
}
.copyright-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 83, 103, 0.75);
}
.copyright-wrapper {
    position: relative;
    padding: 74px 67px 72px 48px;
}
.copyright-title {
    margin-bottom: 257px;
}
.copyright-title-one {
  font-family: 'Roboto-Light';
  font-size: 45px;
  font-weight: 300;
  line-height: 1.47;
  letter-spacing: 1.35px;
  color: #ffffff;
  margin-right: 10px;
}
.copyright-title-two {
    font-family: 'Roboto-Black';
  font-size: 45px;
  font-weight: 900;
  line-height: 1.47;
  letter-spacing: 1.35px;
  color: #ffffff;
}
.logo {
    margin-left: 11px;
    margin-bottom: 34px;
}
.name {
  font-family: 'Roboto-Black';
  font-size: 42px;
  font-weight: 900;
  line-height: 1.57;
  letter-spacing: 1.26px;
  color: #ffffff;
}
.specialty {
    font-family: 'Roboto-Regular';
  font-size: 16.6px;
  line-height: 3.98;
  letter-spacing: 0.5px;
  color: #ffffff;
}
.message {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-area: message;
    position: relative;
    background: url(./img/message-bg.jpg) center / cover no-repeat;
}
.message-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(90, 102, 95, 0.5);
}
.message-wrapper {
    position: relative;
    padding: 74px 237px 72px 54px;
}
.message-wrapper h2 {
  margin-bottom: 50px;
}
.message-title-one {
  font-family: 'Roboto-Light';
  font-size: 45px;
  font-weight: 300;
  line-height: 1.47;
  letter-spacing: 1.35px;
  color: #ffffff;
  margin-right: 10px;
}
.message-title-two {
  font-family: 'Roboto-Black';
  font-size: 45px;
  font-weight: 900;
  line-height: 1.47;
  letter-spacing: 1.35px;
  color: #ffffff;
}
form {
  margin-bottom: 95px;
}
.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}
.form-row:nth-last-child(1) {
  margin-bottom: 0;
}
form input, textarea {
  padding: 19px 0 22px 27px;
  border-radius: 13px;
  border: solid 1px #ffffff;
  /* background-color: #000000; */
  background-color: transparent;
}
::-webkit-input-placeholder {
  font-family: 'Roboto-Regular';
  font-size: 16.6px;
  line-height: 1.93;
  letter-spacing: 0.5px;
  color: #ffffff;
}
::-moz-placeholder {
  font-family: 'Roboto-Regular';
  font-size: 16.6px;
  line-height: 1.93;
  letter-spacing: 0.5px;
  color: #ffffff;
}
:-ms-input-placeholder {
  font-family: 'Roboto-Regular';
  font-size: 16.6px;
  line-height: 1.93;
  letter-spacing: 0.5px;
  color: #ffffff;
}
::-ms-input-placeholder {
  font-family: 'Roboto-Regular';
  font-size: 16.6px;
  line-height: 1.93;
  letter-spacing: 0.5px;
  color: #ffffff;
}
::placeholder {
  font-family: 'Roboto-Regular';
  font-size: 16.6px;
  line-height: 1.93;
  letter-spacing: 0.5px;
  color: #ffffff;
}
input {
  font-family: 'Roboto-Regular';
  font-size: 16.6px;
  line-height: 1.93;
  letter-spacing: 0.5px;
  color: #ffffff;
}
.your-name {
 width: 50%;
 margin-right: 13px;
}
.your-name input {
  width: 100%;
}
.your-email {
  width: 50%;
}
.your-email input {
  width: 100%;
}
textarea {
  resize: none;
  width: 100%;
  height: 159px;
  font-family: 'Roboto-Regular';
  font-size: 16.6px;
  line-height: 1.93;
  letter-spacing: 0.5px;
  color: #ffffff;
}
.message-area {
  width: 100%;
}
.message-area input {
  width: 100%;
}
.submit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor:pointer;
}
.submit-button input {
  width: 150px;
  padding: 10px 0;
}
.contacts p{
  font-family: 'Roboto-Regular';
  font-size: 16.6px;
  line-height: 1.93;
  letter-spacing: 0.5px;
  color: #ffffff;
  margin-bottom: 22px;
}
.contacts p:nth-last-child(1) {
  margin-bottom: 0;
}
.socials {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 margin-bottom: 49px;
}
.socials div {
  padding: 10px;
  width: 45px;
  height: 45px;
  border-radius: 7.1px;
  margin-right: 6px;
  -webkit-border-radius: 7.1px;
  -moz-border-radius: 7.1px;
  -ms-border-radius: 7.1px;
  -o-border-radius: 7.1px;
  cursor: pointer;
}
.socials div:nth-last-child(1) {
  margin-right: 0;
}
.facebook {
  background-color: #345bb4;
  background-image: url(./img/Facebook.png);
  background-position: center;
  background-repeat: no-repeat;
}
.dribble {
  background-color: #e64895;
  background-image: url(./img/Dribbble.png);
  background-position: center;
  background-repeat: no-repeat;
}
.twitter {
  background-color: #00b4ff;
  background-image: url(./img/Twitter.png);
  background-position: center;
  background-repeat: no-repeat;
}
